@tailwind base;
@tailwind components;
@tailwind utilities;

.left-side-div button{
        background-color: azure;
        height: 60px;
        width: 600px;
        border:2px solid rgb(234, 234, 11);
        color:black;
        display:block;
        
        border-radius: 20px;
    }

.left-side-div button:hover{
    border: 2px solid black;
}

.undergraduate-button{
    margin-top: 25px;
}
.listing-div{
        display:flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        margin-top: 50px;      
}

.populating-button{
    
        flex: 0 1 48%;
        padding: 10px 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border: 1px solid #ccc;  
        background-color: #f9f9f9;
        height:350px;
        width: 400px;
        margin-top: 20px;
        border: 2px ;
        color: black;
        display: block;
        margin-right:  20px;
        border-radius:  20px;
        cursor: pointer;       
}

.populating-button:hover{
    background-color: whitesmoke;
    border: 2px solid black;
}

.footer{
    background-color: aquamarine;
    height: 50px;
    cursor: pointer;
}

.footer:hover{
    background-color: bisque;
}

.amount{
    font-size: 2em;
    height: 50px;
    background-color: white;
    margin: 0;
    padding: 1px;
    
    
}.deadline-paragraph{
    display: inline-block;
    margin-top: 20px;
}



