@tailwind base;
@tailwind components;
@tailwind utilities;

.left-side-div button{
        background-color: azure;
        height: 60px;
        width: 600px;
        border:2px solid rgb(234, 234, 11);
        color:black;
        display:block;
        
        border-radius: 20px;
    }

.left-side-div button:hover{
    border: 2px solid black;
}

.undergraduate-button{
    margin-top: 25px;
}
.listing-div{
        display:flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        margin-top: 50px;
        
}

.populating-button{
    
        flex: 0 1 48%;
        padding: 10px 20px;
        text-align: center;
        background-color: azure;
        height:400px;
        width: 400px;
        margin-top: 20px;
        border: 2px solid yellow;
        color: black;
        display: block;
        margin-right:  20px;
        border-radius:  20px;
        align-items: center;  
        cursor: pointer;       
}

.footer{
    background-color: aquamarine;
    height: 50px;
    cursor: pointer;
}

.footer:hover{
    background-color: bisque;
}

