@tailwind base;
@tailwind components;
@tailwind utilities;

.left-side-div button{
        background-color: azure;
        height: 60px;
        width: 600px;
        border:2px solid rgb(234, 234, 11);
        color:black;
        display:block;
        
        border-radius: 20px;
    }

.left-side-div button:hover{
    border: 2px solid black;
}

.undergraduate-button{
    margin-top: 25px;
}
.listing-div{
    display:grid;
    background-color: azure;
    grid-template-columns: 1fr 1fr;
    justify-content: center; /* Centers horizontally */
      align-content: center;
    
}

